#admin-root {
	margin: 0 auto;
	max-width: 1400px;
	padding: 0 2rem;
}
#root-wrapper {
	position: relative;
	margin: 0 auto;
}

#change-view {
	display: grid;
	grid-template-columns: auto auto;
}

#preview-wrapper {
	background: black;
	position: relative;
	margin: 0 auto;
	padding-right: 15px;
	overflow-x: hidden;
	#preview {
		position: relative;
	}
}

#admin-panel {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#property-editor {
	margin: 2rem auto 0 auto;
	max-width: 800px;
}

.property-input {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: 300px 1fr;
	label {
		text-align: right;
	}
}

.video-link .img,
.background {
	&.selected {
		border: 2px solid red;
	}
}

.firebaseui-idp-list {
	list-style: none;
	padding: 0;
	text-align: center;
}

.firebaseui-idp-text.firebaseui-idp-text-short {
	display: none;
}
