#artists {
	h2 {
		margin: 0;
		font-size: 1.8em;
		font-weight: 400;
	}
	h3 {
		margin: 0;
		font-size: 1.6rem;
		&.big {
			font-size: 2rem;
		}
	}
	h4 {
		margin: 0;
		font-size: .8rem;
		text-transform: uppercase;
		font-weight: 600;
	}

	.artist-row {
		margin: 3rem auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
		max-width: 1000px;

		.artist-img-container {
			justify-self: end;
			.artist-img {
				width: 100%;
				// padding: 2rem;
				// width: 30vw;
				// max-width: 620px;
			}
		}

		.artist-info {
			padding: 1.5rem 1rem 1rem 1rem;
			display: inline-grid;
			align-content: center;
			a {
				color: white;
			}
			.artist-name {
				text-align: left;
				a.see-releases {
					transition: .5s;
				}
			}

			.artist-bio {
				display: grid;
				align-content: center;
				margin: 1.5rem 0;
				p {
					max-width: 500px;
					padding: .5rem;
					padding-top: 0;
					margin: 0;
				}
			}

			.see-releases {
			}
		}
	}
}
