// DESKTOP & LOWER

#artists {
  main {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0.3rem;
  }
  .artist-wrapper {
    &.selected {
      border: 2px solid red;
    }
  }
  .artist {
    position: relative;
    align-items: center;
    font-size: 14px;
    &:hover {
      cursor: pointer;
      .img {
        opacity: 0.8;
      }
    }

    .img {
      transition: 0.3s ease;
      grid-column: 1 / span 2;
      height: 25%;
      min-height: 300px;
    }
    .description-outer-wrapper {
      max-width: 100%;
    }
    .description {
      font-size: 1rem;
      padding: 2rem 1rem;
      display: grid;
      color: black;
      align-content: center;
      height: 12rem;
      .artist-name {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1;
      }
      .bio {
        margin: 1rem 0 0.8rem 0;
        max-width: 30rem;
      }
      .see-releases {
        text-transform: uppercase;
        font-weight: 700;
        transition: ease-in-out 0.5s;
        span {
          position: relative;
          top: -0.03rem;
        }
      }
    }
    .text {
      display: inline;
      overflow: hidden;
    }
    h2 {
      margin: 0.5rem 0 0 0;
      line-height: 1;
      display: inline-block;
      font-weight: 300;
    }
  }
}

#artists.tablet {
  main {
    grid-template-columns: 50% 50%;
  }
  .artist {
    .description-outer-wrapper {
      width: 100%;
      overflow: hidden;
      &.align-left {
        grid-column: 1 / span 1;
        // left: 1%;
      }
      &.align-right {
        grid-column: 2;
        // right: 1%;
      }
    }
  }
}

#artists.desktop {
  main {
    grid-template-columns: 50% 50%;
  }
  .artist {
    display: grid;
    grid-template-columns: 50% 50%;
    .img {
      height: 22rem;
    }
    .description {
      height: 22rem;
    }
    .description-outer-wrapper {
      width: 100%;
      overflow: hidden;
      position: absolute;
      // max-width: 500px;
      &.align-left {
        grid-column: 1 / span 1;
        // left: 1%;
        justify-self: start;
      }
      &.align-right {
        grid-column: 2;
        justify-self: end;
        // right: 1%;
      }
    }
  }
}

// // DESKTOP-EXCLUSIVE
// @media (min-width: 530px) {
// 	#artists .artist {
// 		&.first {
// 			grid-column: 1 / span 2;

// 			.img {
// 				min-height: 400px;
// 				height: 40%;
// 			}

// 			.description {
// 				height: 30%;
// 			}
// 			display: relative;
// 			.description-outer-wrapper {
// 				top: auto;
// 				bottom: 5%;
// 				&.align-left {
// 					bottom: 3vh;
// 					left: 5%;
// 				}
// 				&.align-right {
// 					bottom: 8%;
// 					right: 5%;
// 				}
// 				.description {
// 					// width: 100%;
// 					padding: 2% 2% 3% 2%;
// 				}
// 			}
// 		}
// 	}
// }

// #artists .artist {
// 	grid-column-gap: 1%;
// 	&.first {
// 		.img {
// 			height: 50%;
// 		}
// 	}
// 	.description-outer-wrapper {
// 		height: 100%;
// 		position: absolute;
// 		&.align-left {
// 			left: 0;
// 		}
// 		&.align-right {
// 			right: 0;
// 		}
// 		.description {
// 			height: 100%;
// 		}
// 	}
// }

// @media (max-width: 1250px) {
// 	#artists .artist .description-outer-wrapper {
// 		position: absolute;
// 		&.align-left {
// 			bottom: 0;
// 			left: 0;
// 		}
// 		&.align-right {
// 			bottom: 0;
// 			right: 0;
// 		}
// 	}
// }

// @media (min-width: 1400px) {
// 	#artists .artist {
// 		display: grid;
// 		align-items: center;
// 		.description {
// 			padding: 0 2%;
// 		}
// 	}
// }

// @media (min-width: 1200px) and (max-width: 1400px) {
// 	#artists {
// 		.artist {
// 			.description {
// 				width: 20%;
// 				padding: 0 2%;
// 			}
// 		}
// 	}
// }

// // TABLET

// @media (max-width: 1200px) {
// 	#artists {
// 		main {
// 			display: block;
// 		}
// 		.artist {
// 			.description-outer-wrapper {
// 				&.align-left {
// 					left: 0;
// 				}
// 				&.align-right {
// 					right: 0;
// 				}
// 			}
// 			.description {
// 				align-content: center;
// 			}
// 		}
// 	}
// }

// // MOBILE

// @media (max-width: 530px) {
// 	#artists {
// 		.artist {
// 			display: block;
// 			&.first {
// 				.img {
// 					position: static;
// 					height: 90%;
// 				}
// 			}
// 			margin-bottom: .5rem;
// 			&:last-of-type {
// 				margin-bottom: none;
// 			}
// 			.description-outer-wrapper {
// 				position: static;
// 				width: 100%;
// 				&.align-left {
// 					left: 4%;
// 				}
// 				&.align-right {
// 					right: 4%;
// 				}
// 			}
// 			.description {
// 				align-content: start;
// 				padding-top: 5%;
// 				padding-bottom: 7%;
// 				width: auto;
// 			}
// 		}
// 	}
// }
