* {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: white;
	transition: .5s;
	&[aria-current='page'] {
		&:hover {
			color: white;
		}
	}
	&:hover {
		color: #ff5842;
	}
}

section.text {
	max-width: 800px;
	margin: 0 auto;
}

button {
	background: #444;
	padding: 1em;
	font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
		'Lucida Grande', sans-serif;
	font-size: 16px;
	color: white;
	border: none;
	margin: .2em;
}

body {
	font-family: 'Nunito', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
		'Lucida Grande', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: white;
	background: black;
}

.h1 {
	margin: 3rem auto 3rem auto;
	text-align: center;
	h1 {
		padding: .5rem 1.5rem;
		display: inline-block;
		font-size: 2.9rem;
		font-weight: 200;
		text-transform: uppercase;
		border-bottom: 1px solid white;
	}
}

#releases {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.spotify-iframe {
	margin-bottom: 2rem;
}

span.arrow {
	position: relative;
	top: .05rem;
	font-size: 1.5em;
	font-weight: 400;
}

.main-container {
	margin: 0 auto;
	.wrapper {
		height: 100%;
		width: 100%;
	}
	.video-link {
		&:hover {
			cursor: pointer;
		}
		div {
			height: 100%;
		}
		.icon {
			color: white;
			position: absolute;
			left: 0;
			width: 100%;
			top: 50%;
			height: 50px;
			margin-top: -25px;
			text-align: center;
		}
	}

	padding: 0;
	max-width: 1500px;
	width: 100%;
	// > div {
	// 	margin: 4px 0;
	// 	@media screen and (min-width: 650px) {
	// 		margin: 8px 0;
	// 	}
	// }
	div {
		.text {
			text-align: center;
			display: inline-grid;
			align-content: center;
			height: 100%;
			width: 100%;
			text-align: center;
			div {
				height: 100%;
				width: 90%;
				max-width: 150px;
				margin: -7px auto 0 auto;
			}
		}
	}
}

.bottom-banner {
	padding: .3rem;
	margin-top: -5px;
	@media screen and (min-width: 650px) {
		margin-top: -8px;
	}
}

.top-banner {
	padding: .3rem;
	margin-bottom: -5px;
	@media screen and (min-width: 650px) {
		margin-bottom: -8px;
	}
}

.text-container {
	max-width: 600px;
	margin: 0 auto;
}
