.header-wrapper {
  z-index: 999;
}
header {
  max-width: 2560px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 1.5rem 2rem .5rem 2rem;
  font-family: 'Josefin Sans', 'HelveticaNeue-Light',
      'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
      'Lucida Grande', sans-serif;
  #logo {
    text-align: center;
    color: inherit;
    padding: 0 2rem;
    a {
      height: 100%;
      color: inherit;
      .icon {
        max-width: 100%;
        max-height: 40px;
        @media (min-width: 700px) {
          max-height: 55px;
        }
      }
    }
  }
  #nav-wrapper {
    display: inline-grid;
    nav {
      display: inline-grid;
      grid-template-columns: 1fr .3fr 1fr;
      justify-items: stretch;
      align-items: center;
      grid-column-gap: 1.3rem;
      margin-bottom: 1rem;
      width: 100%;
      font-size: 1rem;
      .left-side {
        justify-self: end;
        align-items: center;
        display: inline-grid;
        grid-column-gap: 3rem;
        grid-template-columns: auto auto;
      }
      .right-side {
        justify-self: start;
        align-items: center;
        display: inline-grid;
        grid-column-gap: 3rem;
        grid-template-columns: auto auto;
      }
      #logo a:hover {
        border-bottom: 1px solid black;
      }
      a {
        text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.2);
        font-weight: 300;
        display: inline-block;
        color: inherit;
        padding: .4rem .4rem .2rem .4rem;
        transition: .15s ease-in-out;
        border-bottom: 1px solid black;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}

// MOBILE

@media (max-width: 440px) {
  nav a {
    display: block;
    padding: 0.5rem;
    &:hover,
    &[aria-current='page']:hover {
      background: white;
      color: black;
    }
  }
}
