.header-wrapper {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 999;
}
header {
	max-width: 2560px;
	display: grid;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 1.5rem 2rem 0 2rem;
	grid-template-columns: minmax(35px, 70px) 3fr;
	justify-items: stretch;
	#logo {
		text-align: center;
		justify-self: right;
		a {
			display: block;
			height: 100%;
			width: 100%;
			img {
				max-width: 100%;
				max-height: 40px;
				@media (min-width: 700px) {
					max-height: 55px;
				}
			}
		}
	}
	#nav-wrapper {
		display: inline-grid;
		justify-items: end;
		// max-width: 500px;
		nav {
			display: inline-grid;
			grid-template-columns: auto auto auto;
			justify-items: stretch;
			width: 100%;
			max-width: 360px;
			font-size: .9rem;
			a {
				font-weight: 300;
				padding-top: .4rem;
				display: inline-block;
			}
		}
	}
}

// MOBILE

@media (max-width: 440px) {
	nav a {
		display: block;
		padding: .5rem;
		&:hover,
		&[aria-current='page']:hover {
			background: white;
			color: black;
		}
	}
}
