.header-wrapper {
	z-index: 999;
	&.mobile {
	}
}
header {
	max-width: 2560px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto 0 auto;
	padding: 1.5rem 2rem 0.5rem 2rem;
	font-family: $josefin;
	#logo {
		text-align: center;
		color: inherit;
		padding: 0 2rem;
		&.mobile-header-logo {
			text-align: left;
			padding: 0;
		}
		a {
			height: 100%;
			.icon {
				max-width: 100%;
				max-height: 40px;
				@media (min-width: 700px) {
					max-height: 55px;
				}
			}
		}
	}
}

#nav-wrapper {
	&.mobile-nav nav {
		a {
			color: white;
			font-weight: 400;
		}

		.store-link a {
			font-weight: 700;
		}
		.store-link,
		.left-side,
		.right-side {
			a {
				display: block;
				text-transform: uppercase;
				padding: 0.9rem 0.9rem 0.7rem 0.9rem;
				line-height: 1.2;
				text-align: left;
				font-size: 1.4rem;
				&:hover {
					background: white;
					color: black;
				}
			}
		}
	}

	&.full-nav {
		display: inline-grid;
		nav {
			display: inline-grid;
			grid-template-columns: 1fr 0.3fr 1fr;
			justify-items: stretch;
			align-items: center;
			column-gap: 1.3rem;
			margin-bottom: 1rem;
			width: 100%;
			font-size: 1.2rem;
			.store-link-wrapper a {
				top: 2.1em;
				&:hover {
					top: 1.6em;
				}
			}
			@media screen and (max-width: 1100px) {
				font-size: 1.3rem;
				column-gap: .8rem;
				#logo {
					padding: 0 1rem;
				}
				.store-link-wrapper a {
					top: 2.3em;
					&:hover {
						top: 1.8em;
					}
				}
			}
			@media screen and (max-width: 950px) {
				font-size: 1.1rem;
				column-gap: .8rem;
				#logo {
					padding: 0 .8rem;
				}
				.store-link-wrapper a {
					top: 2.6em;
					&:hover {
						top: 2em;
					}
				}
			}
			@media screen and (max-width: 900px) {
				font-size: 1rem;
				column-gap: .8rem;
				#logo {
					padding: 0 .8rem;
				}
				.store-link-wrapper a {
					top: 2.9em;
					&:hover {
						top: 2.2em;
					}
				}
			}
			.store-link {
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				.store-link-wrapper {
					max-width: 1100px;
					margin: 0 auto;
					position: relative;
					a {
						position: absolute;
						left: 2rem;
						font-weight: 700;
						padding: .3em .5em .05em .5em;
						border-radius: .5em;
						background: white;
						color: black;
						&:hover {
							font-size: 1.2em;
						}
					}
				}
			}
			.left-side {
				justify-self: end;
				align-items: center;
				display: inline-grid;
				column-gap: 3rem;
				grid-template-columns: auto auto;
			}
			.right-side {
				justify-self: start;
				align-items: center;
				display: inline-grid;
				column-gap: 3rem;
				grid-template-columns: auto auto;
			}
			#logo a {
				border: none;
			}
			a {
				padding: 0.5rem 0.7rem 0.2rem 0.7rem;
				font-weight: 400;
				display: inline-block;
				color: #fff;
				border-bottom: 2px solid transparent;
				transition: 0.15s ease-in-out;
				position: relative;
				&:hover {
					color: $yellow;
				}
				&.active {
					border-bottom: 2px solid $yellow;
					color: $yellow;
					&:hover {
						color: $yellow;
					}
				}
			}
		}
	}
}

// MOBILE

.mobile {
	header {
		padding: 1.3rem 2rem 0.9rem 2rem;
	}
}

@media (max-width: 440px) {
	nav a {
		display: block;
		padding: 0.5rem;
		&:hover,
		&[aria-current='page']:hover {
			background: white;
			color: black;
		}
	}
}
