html {
	overflow-x: hidden;
}
#index {
	text-transform: uppercase;
	margin: 0 auto;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		max-width: 100%;
	}
	a.grid-item {
		// transition: .3s;
		&:hover {
			opacity: 0.9;
		}
	}
	.grid-item {
		display: grid;
		color: white;
		text-align: center;
		.react-resizable-handle {
			background: rgba(255, 255, 255, 0.5);
		}
		.bottom-text {
			background: #222;
			display: grid;
			align-content: center;
		}
		.background-text {
			height: 100%;
			display: grid;
			align-content: center;
		}
		.video-link {
			overflow: hidden;
		}
		img {
			width: 100%;
			overflow: hidden;
		}
	}
}
