@mixin grid-item-hover {
  opacity: 0.8;
}

@mixin grid-item-hover-transition {
  transition: 0.4s ease-in-out opacity;
}

#index {
  overflow: hidden;
  text-transform: uppercase;
  margin: 0 auto;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .layout {
    &.grid-item-hovered-upon {
      .grid-item {
        a {
          color: white;
          &:hover {
            .background {
              @include grid-item-hover;
            }
          }
        }
      }
    }
  }
  .grid-item {
    box-sizing: border-box;
    display: grid;
    color: white;
    text-align: center;
    .background {
      width: 100%;
    }
    .heading {
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      font-size: 2rem;
      font-weight: 700;
      font-family: 'Libre Baskerville', serif;
      text-transform: initial;
    }
    .subheading {
      font-weight: 600;
      font-size: 1.3rem;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }
    a {
      .background {
        @include grid-item-hover-transition;
      }
    }
    .react-resizable-handle {
      background: rgba(255, 255, 255, 0.5);
    }
    .bottom-text {
      text-shadow: 0.7px 0.7px 2px rgba(0, 0, 0, 0.2);
      background: #222;
      display: grid;
      align-content: center;
    }
    .background-text {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: grid;
      align-content: center;
    }
    .video {
      align-self: center;
    }
    .video-link {
      overflow: hidden;
      .img {
        background: url('../images/trees.jpg') no-repeat center/cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include grid-item-hover-transition;
      }
      &:hover {
        .img {
          @include grid-item-hover;
        }
      }
      .icon-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
      }
      .icon {
        font-size: 2rem;
      }
    }
    img {
      width: 100%;
      overflow: hidden;
    }
  }
}
