html {
	overflow-x: hidden;
}
#index {
	text-transform: uppercase;
	margin: 0 auto;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		max-width: 100%;
	}
	.layout {
		&.grid-item-hovered-upon {
			.grid-item {
				opacity: .5;
				transition: 0s ease-in-out opacity;
				&:hover {
					opacity: 1;
					transition: .4s ease-in-out opacity;
					a {
						color: white;
					}
				}
			}
		}
	}
	.grid-item {
		display: grid;
		color: white;
		text-align: center;
		a {
		}
		.react-resizable-handle {
			background: rgba(255, 255, 255, 0.5);
		}
		.bottom-text {
			background: #222;
			display: grid;
			align-content: center;
		}
		.background-text {
			height: 100%;
			display: grid;
			align-content: center;
		}
		.video {
			align-self: center;
		}
		.video-link {
			overflow: hidden;
			&:hover {
				img {
					opacity: 0.8;
				}
			}
			.icon-wrapper {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				display: grid;
				align-content: center;
				justify-content: center;
			}
			.icon {
				font-size: 2rem;
			}
		}
		img {
			width: 100%;
			overflow: hidden;
		}
	}
}
