#producer-tools {
	.background-image {
		background: url('../images/trees.jpg') no-repeat center/cover;
		height: 6rem;
	}
	main {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: .3rem;
	}
	.artist-wrapper {
		&.selected {
			border: 2px solid red;
		}
	}
	.artist {
		position: relative;
		align-items: center;
		&:hover {
			cursor: pointer;
			.img {
				opacity: .8;
			}
		}

		.img {
			transition: .3s ease;
			grid-column: 1 / span 2;
			height: 25%;
			min-height: 300px;
		}
		.description-outer-wrapper {
			max-width: 100%;
		}
		.description {
			font-size: 1rem;
			padding: 2rem 1rem;
			display: grid;
			color: black;
			align-content: center;
			height: 18rem;
			.artist-name {
				font-size: 2rem;
				line-height: 1;
			}
			.description-text {
				margin: 1rem 0 0.8rem 0;
			}
			.see-releases {
				text-transform: uppercase;
				font-weight: 700;
				transition: ease-in-out .5s;
				span {
					position: relative;
					top: -.03rem;
				}
			}
		}
		.text {
			display: inline;
			overflow: hidden;
		}
		h2 {
			margin: .5rem 0 0 0;
			line-height: 1;
			display: inline-block;
			font-weight: 300;
		}
	}
}

#producer-tools.tablet {
	main {
		grid-template-columns: 50% 50%;
	}
	.artist {
		.description-outer-wrapper {
			overflow: hidden;
			width: 100%;
			&.align-left {
				grid-column: 1 / span 1;
				// left: 1%;
			}
			&.align-right {
				grid-column: 2;
				// right: 1%;
			}
		}
	}
}

#producer-tools.desktop {
	main {
		grid-template-columns: 50% 50%;
	}
	.artist {
		display: grid;
		grid-template-columns: 50% 50%;
		.img {
			height: 22rem;
		}
		.description {
			height: 22rem;
		}
		.description-outer-wrapper {
			width: 100%;
			overflow: hidden;
			position: absolute;
			// max-width: 500px;
			&.align-left {
				grid-column: 1 / span 1;
				// left: 1%;
				justify-self: start;
			}
			&.align-right {
				grid-column: 2;
				justify-self: end;
				// right: 1%;
			}
		}
	}
}
