html,
body {
	margin: 0;
	box-sizing: border-box;
	background: #000;
	color: #eee;
	font-family: 'Futura';
}

.grid {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-cell {
	border: 1px solid rgb(25, 25, 25);
	opacity: .8;
	&.selected {
		background: rgb(7, 36, 62);
	}
	&.selected-section {
		opacity: 1;
	}
}
